#TODO: place gitignore per folder
**
.*
!.gitignore
!btop/
!btop/**
!firefox/
!firefox/**
!fish/
!fish/**
!fuzzel/
!fuzzel/**
!hyprland/
!hyprland/**
!keepassxc/
!keepassxc/**
!kitty/
!kitty/**
!monero-gui/
!monero-gui/**
!moonlight-stream/
!moonlight-stream/**
!nvim/
!nvim/**
!remmina/
!remmina/**
!steamguard-cli/
!steamguard-cli/**
!tmux/
!tmux/**
!vesktop/
!vesktop/**
!waybar/
!waybar/**
!wiremix/
!wiremix/**
!yazi/
!yazi/**
!zellij/
!zellij/**
