**
.*
!.gitignore
!common.nix
!flake.lock
!flake.nix
!README.md
!users/
!users/user/
!host/
!host/mistylake/
!host/mistyriver/
!secrets/
!secrets/**
!ctl
!.devshellshook.sh
!.devshellspkgs.ls
!.zellij.kdl
